.post-type-archive-expert,
.single-expert {
	.photo-wrap {
		max-width: 330px;
	}	 
}

.post-type-archive-expert {
	article {
		background-color: #F1F9FF;
	}
}

.single-expert {
	.expert-info {
		background-color: #F1F9FF;
	}
}