.expanding-card-slider {
	.slider {
		//width: 450px;
		overflow: visible;
		
		.slick-list {
			overflow: visible;
		}
		
		.slick-track {
			display: flex;
			margin-left: -10px;
		}
		
		.single-slide {
			margin: 0 10px;
			width: 314px;
			display: flex;
			height: auto;
			
			.inner {
				width: 100%;
				padding: 3rem 1.8rem;
				transition: background-color .5s ease;
			}
			
			h3 {
				max-width: 250px;
				margin-bottom: 0.75rem;
			}
			
			.hidden {
				opacity: 0;
				transition: opacity .25s ease 0s;
				p.large-copy {
					transition: font-size 0s linear 0s, white-space 0s linear .7s;
					font-size: 0;
					//white-space: nowrap;
				}
			}

		&.widen {
			@include breakpoint(medium) {
				width: 450px;
				transition: width .5s ease;
			}
			
			.inner {
				background-color: $brand-navy;
			}
			
			.hidden {
				opacity: 1;
				transition: opacity .25s ease .6s;
				p.large-copy {
					transition: font-size 0s linear .5s, white-space 0s linear .6s;
					white-space: normal;
					font-size: rem-calc(21);
					@include breakpoint(medium) {
						font-size: rem-calc(24);
					}
					@include breakpoint(tablet) {
						font-size: rem-calc(30);
					}
				}
			}
			
		}
		
/*
		&.hide-text p {
			opacity: 0;
			transition: opacity .25s ease 0s;
		}
*/

			
		}
		
	}
}