header.header {
	width: 100%;
	position: fixed;
	z-index: 99999;
	transition: transform .5s ease;
	
	#top-bar-menu {
		padding-top: .2rem;
		padding-bottom: .2rem;
		
		@include breakpoint(tablet) {
			padding-top: .35rem;
			padding-bottom: 0;
		}
		
		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			
			&.desktop {
				a {
					padding: 0;
					display: inline-block;
					position: relative;
				    top: -20px;
				}
			}
			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 1.05rem 0 1.3rem 1.8rem;
				
				a {
					color: $white;
					font-size: rem-calc(14);
					text-transform: uppercase;
					line-height: rem-calc(12);
					font-weight: bold;
					padding: 0.5314rem 1.011rem;
					
				&:hover {
					text-decoration: underline;
				}
					
				}
				
			&.outlined {
				a {
					padding: 0.5314rem 1.011rem;
					border: 1px solid $white;
				}
			}
				
			&.menu-item-has-children {
			
				> a {					
					position: relative;
					&:after {
						content: '';
						right: 4px;
						width: 10px;
						height: 5px;
						border: 0;
						background-size: contain;
					    background-position: center;
					    background-repeat: no-repeat;						
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.965' height='5.888' viewBox='0 0 9.965 5.888'%3E%3Cpath id='Path_9856' data-name='Path 9856' d='M4.982,0,4.077.906,7.506,4.335l.619.647h0l-.619.647L4.077,9.059l.906.906L9.965,4.982Z' transform='translate(9.965 -4.077) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");
					}
					
				}
				
				ul.submenu {
					background-color: $white;
					box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.51);
					
					li {
						a {
							position: relative;
							color: $brand-navy;
							font-weight: 400;
						}
						
					&.menu-item-has-children {
						> a {
							&:after {
								content: '';
								left: auto;
								right: 4px;
								width: 10px;
								height: 5px;
								margin-top: 0;
								border: 0;
								background-size: contain;
							    background-position: center;
							    background-repeat: no-repeat;							
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.888' height='9.965' viewBox='0 0 5.888 9.965'%3E%3Cpath id='Path_9883' data-name='Path 9883' d='M4.982,0,4.077.906,7.506,4.335l.619.647h0l-.619.647L4.077,9.059l.906.906L9.965,4.982Z' transform='translate(-4.077)' fill='%23050d57'/%3E%3C/svg%3E%0A");
							}							
						}
						
					}
						
					&:hover,
					&.active {
						> a {
							background-color: $brand-mint;
						}
					}
						
					}
				}
	
			}
							
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
			    
		    }
		    
		}
	
	}
	
}