// Colors
$brand-navy: #050D57;
$brand-blue: #12108f;
$brand-royal: #201dd0;
$brand-mint: #00fab8;
$brand-neon: #bffa2e;
$brand-violet: #c84dff;
$brand-sky-blue: #dce7f0

// Layout
$sm-gutter: 20px;
$mg-gutter: 40px;
$lg-gutter: 58px;